body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #191919;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #252525;
  padding: 10px;
  gap: 10px;
}
header div {
  gap: 10px;
  display: flex;
  align-items: center;
}
.content-visible {
  opacity: 1;
}
button {
  background: #464646;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  font-size: 16px;
  white-space: nowrap;
  transition: background 0.3s ease-out;
}
button:hover {
  background: #5d4263;
}
input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 16px;
  background: #464646;
  color: white;
}
input[type='number'] {
  width: 100px;
  appearance: textfield;
  -moz-appearance: textfield;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
header button.active {
  background: #bd388d;
}
.logo {
  width: 38px;
  height: 38px;
  background: url('/static/logo.gif') no-repeat center;
  background-size: contain;
}
#mapContainer {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#mapContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#markerForm {
  display: flex;
  padding: 0px;
  background: #191919;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  margin: 0;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#markerForm.visible {
  max-height: 128px;
  padding: 20px !important;
}
h3 {
  margin: 0 0 0px 0;
  font-weight: 300;
}
.markerInputs {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}
span {
  font-size: 14px;
  color: #999;
  text-align: center;
}
#timestamp {
  width: 26ch;
  text-align: left;
}
.mobile-logo-toggle {
  display: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
}
@media (max-width: 970px) {
  header {
    flex-direction: column;
    align-items: stretch;
  }
  header > div:first-of-type {
    justify-content: left;
    width: 100%;
  }
  .mobile-logo-toggle {
    display: inline-block;
    width: 38px;
  }
  .desktop-logo {
    display: none;
  }
  #playerCount,
  #timestamp,
  #reloadButton,
  #marker {
    width: calc(50% - 5px);
  }
  #timestamp {
    text-align: right;
  }
  #playerCount {
    text-align: left;
  }
  #markerForm.visible {
    max-height: 200px;
  }
  #headerSecondary {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -10px;
    border-top: none;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out, margin 0.3s ease-out, border 0.3s ease-out, opacity 0.3s ease-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
  }
  #headerSecondary.visible {
    max-height: 100px;
    margin-top: 0;
    opacity: 1;
    padding-top: 10px;
  }
  .markerInputs {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .markerInputs input,
  .markerInputs button {
    width: calc(50vw - 15px);
    margin: 0;
    box-sizing: border-box;
  }
}
